{
	"env": {
		"browser": true,
		"commonjs": true,
		"jest": true
	},
	"extends": [
		"airbnb-base",
		"plugin:jest/recommended",
		"plugin:@typescript-eslint/recommended"
	],
	"globals": {
		"Atomics": "readonly",
		"SharedArrayBuffer": "readonly"
	},
	"parser": "@typescript-eslint/parser",
	"parserOptions": {
		"sourceType": "module"
	},
	"plugins": [
		"@typescript-eslint/eslint-plugin"
	],
	"rules": {
		"class-methods-use-this": "off",
		"comma-dangle": "off",
		"dot-notation": "off",
		"global-require": "off",
		"import/extensions": "off",
		"indent": [
			"error",
			4
		],
		"import/no-extraneous-dependencies": "off",
		"import/no-unresolved": "off",
		"import/prefer-default-export": "off",
		"linebreak-style": 0,
		"lines-between-class-members": "off",
		"max-len": [
			"warn",
			140
		],
		"no-console": "off",
		"no-multi-assign": "off",
		"no-param-reassign": "off",
		"no-prototype-builtins": "off",
		"no-plusplus": "off",
		"no-underscore-dangle": "off",
		"no-unused-expressions": "off",
		"no-useless-constructor": "off",
		"no-trailing-spaces": "error",
		"@typescript-eslint/ban-types": "off",
		"@typescript-eslint/explicit-module-boundary-types": "off",
		"@typescript-eslint/no-empty-function": "off",
		"@typescript-eslint/no-explicit-any": "off",
		"@typescript-eslint/no-namespace": "off",
		"@typescript-eslint/no-unused-vars": "off",
		"@typescript-eslint/no-var-requires": "off"
	},
	"settings": {
		"import/resolver": {
			"node": {
				"extensions": [
					".ts"
				]
			}
		}
	}
}
