# src
src

# test
**/*.spec.*
jest.config.js

# configs
.eslintrc
.releaserc
commitlint.config.js
tsconfig.json
tslint.json
sonar-project.properties

# idea
.idea
*.iml

# ci
.circleci

# generated
.converted
